.projects-section {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  h2 span {
    color: #1EB29C;
    font-style: italic;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    justify-items: center;
    margin-top: 100px;
  }
  
  .project-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    max-width: 500px;
    width: 100%;
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden; 
    margin-bottom: 20px; 
    
  }
  
  .project-card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); 
    
  }
  
  .project-description {
    font-size: 16px;
    color: #333;
    margin: 16px 0;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.05); 
  }
  
  .project-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .project-buttons a,
  .project-buttons button {
    padding: 7px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    background-color: #000000;
    color: white;
    transition: 0.3s;
  }
  
  .project-buttons a:hover,
  .project-buttons button:hover {
    background-color: #169d87;
  }
  
  .repo-button {
    background-color: #4CAF50; 
  }
  
  .repo-button:hover {
    background-color: #45a049; /
  }

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .project-header h3 {
    font-size: 1.8rem;
    margin-right: 10px;
  }
  .project-icon {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #169d87;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  
    .project-image {
      max-height: 250px;
    }
  
    .project-buttons {
      flex-direction: column;
      gap: 10px;
    }

    
      .project-buttons a,
      .project-buttons button {
       font-size: 1rem;
      }
  }
  