.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  
}

.nav-links {
    display: flex;
    gap: 2rem; 
  }
  
  .nav-item {
    font-size: 1.800rem;
    font-weight: 600;
    text-decoration: none;
    color: #1EB29C;
    font-family: "Kaushan Script", serif;
    font-weight: 400;

  }